.result-field {
    height: 80px;
    padding-left: 20px;
    grid-column: span 4;
    border: none;
    border-bottom: 1px solid lightblue;
    border-radius: 10%;
    margin-bottom: 30px;
    font-size: 2.5em;
}

